body {
    font-family: 'janna lt', sans-serif;
    margin: 0;
    padding: 0;
    direction: ltr; /* تغيير اتجاه الصفحة إلى اليسار */
    display: flex;
    height: 95vh;
    font-size: 12px;
     background-image: url('https://i.imgur.com/mrWFtiT.png');
    background-repeat: ; /* منع تكرار الصورة */
    overflow-y: hidden;
    text-align: center;
  
}


.dashboard {
    text-align: left;
    display: flex;
    flex-direction: row; /* لعرض الشريط الجانبي على اليسار */
    width: 100%;
}

.sidebar {
    width: 180px;
    height: 610px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar .logo img {
    width: 60px;
    margin-bottom: 10px;
    align-items: center;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar nav ul li {
    margin: 1px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    display: block;
    padding: 8px 30px;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.sidebar nav ul li a:hover,
.sidebar nav ul li.active a {
    background-color: #e0dffb;
    color: #4b3f72;
}

.sidebar .user-info {
    margin-top: auto;
    text-align: left;
}

.sidebar .user-info .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.sidebar .user-info p {
    margin: 5px 0;
    font-size: 12px;
}

.sidebar .logout {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    font-size: 10px;
}

main {
    flex-grow: 1;
    padding: 0px;
   
}

.content {
    display: none;
}

.content.active {
    display: block;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
   height: 80vh;
    margin:  auto;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 0px;
}


label {
    display: block;
    margin-bottom: 0px;
    text-elign:left ;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

button {
    background-color: #368888;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #2a6f6f;
     width: 70%;
}

.profile-container {
    text-align: center;
    margin-bottom: 10px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

span {
    display: block;
    color: #368888;
    cursor: pointer;
}

.profile-picture {
    margin-bottom: 10px; /* هذه القيمة تحدد المسافة بين الصورة والفورم */
}